body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4CAF50;
    
}

nav {
    background-color: #fefefe;
    overflow: hidden;
    justify-content: space-between;
    box-shadow: 25%;
    width: 100%;
    height: 91px;
    
}

nav ul  {
    display: flex;
    padding: 8px 16px;
    

    list-style-type: none;
    margin: 5px;
    gap: 40px;
    height: 100px;
    
    
}

.menu {
    display: flex;
    gap: 40px;
    margin-left: 170px;
    
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
    padding: 10px 15px;
    
    
}
nav p :hover {
  color: #006D69; 
  
  
}

nav p{
    align-items: center;
    margin-top: 24px;
    margin-bottom: 1px;
    
}


nav a {
    font-family: 'Segoe UI', sans-serif; 
    color: #666666; 
}


nav a.active {
    color: #006D69 !important;
    font-weight: bold;
}

/* Class khusus untuk menu yang sedang dipilih/diklik */
nav a.menu-aktif {
    color: #006D69 !important; /* Warna berubah jadi ini */
    font-weight: bold;          /* Opsi: Huruf jadi tebal */
}


nav a:active {
    color: #006D69;
}

nav img {
    width: 125px;
    height: 39px;
    margin-left: 96px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.coba-btn a {
    display: inline-block   ;
    padding: 12px 24px;
    background-color: #FFE037; /* biru */
    color: #000000;
    text-decoration: none;
    border-radius: 24px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 180px;
    transition: 
        background-color 0.3s ease,
        transform 0.2s ease,
        box-shadow 0.2s ease;
}

.coba-btn a:hover {
    background-color: #E5C71E; /* biru lebih gelap */
    transform: translateY(-3px);
    
}


