body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #4CAF50;
    
}

nav {
    background-color: #fefefe;
    overflow: hidden;
    justify-content: space-between;
    box-shadow: 25%;
    
}

nav ul  {
    display: flex;
    padding: 8px 16px;
    align-items: center;
    list-style-type: none;
    margin: 5px;
    gap: 40px;
    height: 100px;
    
    
}

.menu {
    display: flex;
    gap: 40px;
    margin-left: 96px;
    
}
nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: background-color 0.3s ease;
    padding: 10px 15px;
    
}
nav p :hover {
  color: #006D69; 
  
  
}

nav p{
    align-items: center;
    
}

nav img {
    width: 180px;
    height: 56px;
    margin-left: 96px;
}

.coba-btn {
    margin-left: auto;
    background-color: #FFE037;
    padding: 10px 20px;
    border-radius: 24px;
    margin-right: 96px;
    
}

